# 環境変数ファイル
.env

# npmのパッケージロックファイル
node_modules

# データフォルダを無視
# keihi_botなどがローカルに生成するデータ
data/

# gemini-chatgptをアップロードしない設定
gemini-chatgpt/

# ログファイル
**/logs/
*.log

# IDE/Editor specific
.vscode/
.idea/